In [1]:
import requests
import pandas as pd

In [90]:
class NotProperResponseError(Exception):
    pass

class SomethingWrongError(Exception):
    pass

In [166]:
def get_history_hour(nbars=5, utc_to=None, coin=None, base_ccy=None, ex=None):    
    if utc_to is None:
        # 일봉 이하 봉차트의 시간: 봉의 시작점을 의미한다! 
        # 일봉과는 의미가 다르니 주의
        # 가장최근 시(hour)봉은 채워지고 있는 중이니, 전 시간대의 시봉을 가져온다
        utc_to = pd.Timestamp.utcnow() + pd.Timedelta(-1, unit='h')
        
    else:
        utc_to = pd.Timestamp(utc_to)
    
    baseurl = ('https://min-api.cryptocompare.com/data/histohour?'
               'fsym={fsym}'
               '&tsym={tsym}'
               '&e={e}'
               '&limit={limit}'
               '&toTs={toTs}')
    
    url = baseurl.format(fsym=coin, tsym=base_ccy, e=ex, limit=nbars, toTs=int(utc_to.timestamp()))
    resp = requests.get(url).json()
    msg = resp['Response']
    
    if msg == 'Success':
        return {pd.to_datetime(_r['time'], unit='s'):_r for _r in resp['Data'] if _r['close'] != 0}
    
    elif msg == 'Error':
        raise NotProperResponseError()
        
    else:
        raise SomethingWrongError()

In [167]:
get_history_hour(nbars=1, utc_to='2019-06-26 08:00', coin='BTC', base_ccy='KRW', ex='upbit')

{Timestamp('2019-06-26 07:00:00'): {'time': 1561532400,
  'close': 14983000,
  'high': 15322000,
  'low': 14983000,
  'open': 15316000,
  'volumefrom': 328.97,
  'volumeto': 4977177155.46},
 Timestamp('2019-06-26 08:00:00'): {'time': 1561536000,
  'close': 14877000,
  'high': 15000000,
  'low': 14853000,
  'open': 14983000,
  'volumefrom': 67.97,
  'volumeto': 1015067592.44}}

In [169]:
get_history_hour(nbars=1, utc_to='2019-06-26 08:00', coin='BTC', base_ccy='KRW', ex='upbit')

{Timestamp('2019-06-26 07:00:00'): {'time': 1561532400,
  'close': 14983000,
  'high': 15322000,
  'low': 14983000,
  'open': 15316000,
  'volumefrom': 328.97,
  'volumeto': 4977177155.46},
 Timestamp('2019-06-26 08:00:00'): {'time': 1561536000,
  'close': 15125000,
  'high': 15151000,
  'low': 14853000,
  'open': 14983000,
  'volumefrom': 225.36,
  'volumeto': 3375136770.46}}

In [96]:
# url = 'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=1'
# url = 'https://api.coingecko.com/api/v3/exchanges/bithumb'
url = 'https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=KRW&limit=1&e=upbit'
resp = requests.get(url).json(); resp

{'Response': 'Success',
 'Type': 100,
 'Aggregated': False,
 'Data': [{'time': 1561525200,
   'close': 14951000,
   'high': 15592000,
   'low': 14930000,
   'open': 14939000,
   'volumefrom': 494.6,
   'volumeto': 7513933948.41},
  {'time': 1561528800,
   'close': 15119000,
   'high': 15153000,
   'low': 14951000,
   'open': 14951000,
   'volumefrom': 192.89,
   'volumeto': 2904418221.13}],
 'TimeTo': 1561528800,
 'TimeFrom': 1561525200,
 'FirstValueInArray': True,
 'ConversionType': {'type': 'force_direct', 'conversionSymbol': ''},
 'RateLimit': {},
 'HasWarning': False}

In [101]:
int((1561528800-1561525200)/3600)

1

In [75]:
prices = pd.DataFrame(resp['Data'])
prices

,close,high,low,open,time,volumefrom,volumeto
0,14286000,14410000,14178000,14304000,1561510800,367.01,5.249753e+09
1,14300000,14307000,14043000,14286000,1561514400,428.64,6.082490e+09
2,14697000,14699000,14279000,14300000,1561518000,423.25,6.105994e+09
3,14842000,14842000,14571000,14697000,1561521600,321.21,4.710727e+09

In [9]:
prices['time'] = pd.to_datetime(prices['time'], unit='s') + pd.Timedelta(9, unit='h'); prices

,close,high,low,open,time,volumefrom,volumeto
0,5676000,5712000,5661000,5680000,2019-04-04 04:00:00,206.51,1.174834e+09
1,5829000,5837000,5676000,5676000,2019-04-04 05:00:00,308.03,1.777735e+09
2,5753000,5863000,5753000,5829000,2019-04-04 06:00:00,376.73,2.193541e+09
3,5683000,5817000,5606000,5753000,2019-04-04 07:00:00,389.07,2.238989e+09
4,5599000,5700000,5543000,5683000,2019-04-04 08:00:00,349.13,1.956111e+09
5,5652000,5674000,5510000,5599000,2019-04-04 09:00:00,335.81,1.885486e+09
6,5637000,5718000,5622000,5652000,2019-04-04 10:00:00,407.94,2.317694e+09
7,5654000,5674000,5635000,5637000,2019-04-04 11:00:00,322.19,1.823208e+09
8,5568000,5664000,5560000,5654000,2019-04-04 12:00:00,359.71,2.018646e+09
9,5637000,5638000,5551000,5568000,2019-04-04 13:00:00,317.28,1.779670e+09
10,5654000,5662000,5632000,5637000,2019-04-04 14:00:00,337.29,1.905963e+09
11,5684000,5690000,5649000,5654000,2019-04-04 15:00:00,332.37,1.884824e+09
12,5663000,5693000,5652000,5684000,2019-04-04 16:00:00,284.85,1.613031e+09
13,5678000,5709000,5644000,5663000,2019-04-04 17:00:00,331.47,1.881604e+09
14,5662000,5685000,5646000,5678000,2019-04-04 18:00:00,418.07,2.370107e+09
15,5599000,5662000,5588000,5662000,2019-04-04 19:00:00,438.48,2.464841e+09
16,5638000,5640000,5524000,5599000,2019-04-04 20:00:00,407.10,2.275182e+09
17,5651000,5674000,5635000,5638000,2019-04-04 21:00:00,376.91,2.130334e+09
18,5620000,5651000,5614000,5651000,2019-04-04 22:00:00,422.99,2.379813e+09
19,5611000,5650000,5606000,5620000,2019-04-04 23:00:00,418.86,2.357059e+09
20,5607000,5613000,5563000,5611000,2019-04-05 00:00:00,368.85,2.061105e+09
21,5575000,5610000,5560000,5607000,2019-04-05 01:00:00,262.74,1.467313e+09
22,5551000,5600000,5540000,5575000,2019-04-05 02:00:00,173.87,9.697348e+08
23,5522000,5558000,5500000,5551000,2019-04-05 03:00:00,238.45,1.318622e+09
24,5496000,5542000,5485000,5522000,2019-04-05 04:00:00,152.38,8.410080e+08
25,5502000,5516000,5452000,5496000,2019-04-05 05:00:00,240.30,1.318713e+09
26,5590000,5610000,5494000,5502000,2019-04-05 06:00:00,233.88,1.301765e+09
27,5535000,5600000,5535000,5590000,2019-04-05 07:00:00,191.85,1.067489e+09
28,5569000,5580000,5534000,5535000,2019-04-05 08:00:00,251.35,1.398177e+09
29,5627000,5643000,5567000,5569000,2019-04-05 09:00:00,347.77,1.954807e+09
...,...,...,...,...,...,...,...
1971,12902000,12957000,12841000,12848000,2019-06-25 07:00:00,224.32,2.895129e+09
1972,12891000,12928000,12845000,12902000,2019-06-25 08:00:00,205.43,2.647951e+09
1973,12910000,12971000,12854000,12891000,2019-06-25 09:00:00,246.93,3.187708e+09
1974,12996000,12997000,12893000,12910000,2019-06-25 10:00:00,239.26,3.099654e+09
1975,13004000,13085000,12948000,12996000,2019-06-25 11:00:00,373.66,4.865882e+09
1976,13026000,13041000,12977000,13004000,2019-06-25 12:00:00,259.05,3.370075e+09
1977,13131000,13146000,13025000,13026000,2019-06-25 13:00:00,339.92,4.447649e+09
1978,13256000,13309000,13131000,13131000,2019-06-25 14:00:00,302.27,3.995989e+09
1979,13274000,13370000,13245000,13256000,2019-06-25 15:00:00,239.21,3.185791e+09
1980,13347000,13383000,13274000,13274000,2019-06-25 16:00:00,303.42,4.047822e+09
1981,13275000,13371000,13227000,13347000,2019-06-25 17:00:00,338.15,4.499964e+09
1982,13333000,13350000,13265000,13275000,2019-06-25 18:00:00,310.38,4.130798e+09
1983,13459000,13491000,13306000,13333000,2019-06-25 19:00:00,233.30,3.126292e+09
1984,13460000,13498000,13371000,13459000,2019-06-25 20:00:00,224.56,3.018619e+09
1985,13263000,13463000,13217000,13460000,2019-06-25 21:00:00,316.64,4.215474e+09
1986,13380000,13397000,13245000,13263000,2019-06-25 22:00:00,209.85,2.797691e+09
1987,13326000,13423000,13315000,13380000,2019-06-25 23:00:00,183.32,2.453183e+09
1988,13410000,13445000,13303000,13326000,2019-06-26 00:00:00,214.91,2.878299e+09
1989,13440000,13494000,13410000,13410000,2019-06-26 01:00:00,216.28,2.911400e+09
1990,13405000,13474000,13329000,13440000,2019-06-26 02:00:00,157.02,2.105589e+09
1991,13455000,13467000,13391000,13405000,2019-06-26 03:00:00,91.31,1.225859e+09
1992,13431000,13465000,13401000,13455000,2019-06-26 04:00:00,79.60,1.069871e+09
1993,13472000,13495000,13431000,13431000,2019-06-26 05:00:00,132.48,1.784599e+09
1994,13686000,13688000,13457000,13472000,2019-06-26 06:00:00,216.41,2.933781e+09
1995,13877000,13887000,13683000,13686000,2019-06-26 07:00:00,253.51,3.493778e+09
1996,13972000,13995000,13854000,13877000,2019-06-26 08:00:00,268.28,3.738306e+09
1997,14304000,14435000,13859000,13972000,2019-06-26 09:00:00,366.03,5.176648e+09
1998,14286000,14410000,14178000,14304000,2019-06-26 10:00:00,367.01,5.249753e+09
1999,14300000,14307000,14043000,14286000,2019-06-26 11:00:00,428.64,6.082490e+09
2000,14476000,14476000,14279000,14300000,2019-06-26 12:00:00,179.01,2.572286e+09

In [76]:
prices['time'].iloc[0]

1561510800

In [143]:
pd.to_datetime(1561532400, unit='s') + pd.Timedelta(9, unit='h')

Timestamp('2019-06-26 16:00:00')

In [153]:
pd.to_datetime(time(), unit='s')

Timestamp('2019-06-26 07:33:12.040388107')

In [154]:
pd.to_datetime(time(), unit='s', utc=True)

Timestamp('2019-06-26 07:33:21.380077362+0000', tz='UTC')

In [133]:
t = pd.Timestamp.utcnow()#.timestamp(); t
t

Timestamp('2019-06-26 07:06:56.221898+0000', tz='UTC')

In [91]:
pd.Timestamp('2000-01-01').timestamp()

946684800.0

In [112]:
('a'
'b')

'ab'

In [158]:
pd.Timestamp.utcnow() + pd.Timedelta(-1, unit='h')

Timestamp('2019-06-26 07:05:25.625152+0000', tz='UTC')