In [8]:
import requests
import pandas as pd

In [54]:
# url = 'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=1'
# url = 'https://api.coingecko.com/api/v3/exchanges/bithumb'
url = 'https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=KRW&limit=24&e=korbit'
resp = requests.get(url).json(); resp

{'Response': 'Success',
 'Type': 100,
 'Aggregated': False,
 'Data': [{'time': 1561377600,
   'close': 11417500,
   'high': 11465500,
   'low': 11369500,
   'open': 11415000,
   'volumefrom': 7.358,
   'volumeto': 84026157.32},
  {'time': 1561381200,
   'close': 11364500,
   'high': 11417500,
   'low': 11361500,
   'open': 11417500,
   'volumefrom': 4.07,
   'volumeto': 46345114.3},
  {'time': 1561384800,
   'close': 11463000,
   'high': 11463000,
   'low': 11364500,
   'open': 11364500,
   'volumefrom': 3.94,
   'volumeto': 45030829},
  {'time': 1561388400,
   'close': 11484000,
   'high': 11497000,
   'low': 11455500,
   'open': 11463000,
   'volumefrom': 5.436,
   'volumeto': 62394949.32},
  {'time': 1561392000,
   'close': 11362000,
   'high': 11535500,
   'low': 11362000,
   'open': 11484000,
   'volumefrom': 19.41,
   'volumeto': 222159641.56},
  {'time': 1561395600,
   'close': 11443500,
   'high': 11453500,
   'low': 11355000,
   'open': 11362000,
   'volumefrom': 1.273,
   'volumeto': 14537627.11},
  {'time': 1561399200,
   'close': 11415500,
   'high': 11443500,
   'low': 11393500,
   'open': 11443500,
   'volumefrom': 1.339,
   'volumeto': 15255667.53},
  {'time': 1561402800,
   'close': 11412500,
   'high': 11416000,
   'low': 11322000,
   'open': 11415500,
   'volumefrom': 3.168,
   'volumeto': 36012466.33},
  {'time': 1561406400,
   'close': 11412500,
   'high': 11413500,
   'low': 11348500,
   'open': 11412500,
   'volumefrom': 2.799,
   'volumeto': 31841644.12},
  {'time': 1561410000,
   'close': 11399500,
   'high': 11412500,
   'low': 11360000,
   'open': 11412500,
   'volumefrom': 0.4611,
   'volumeto': 5246853.38},
  {'time': 1561413600,
   'close': 11392000,
   'high': 11403000,
   'low': 11360000,
   'open': 11399500,
   'volumefrom': 12.68,
   'volumeto': 144353099.75},
  {'time': 1561417200,
   'close': 11352500,
   'high': 11423500,
   'low': 11352000,
   'open': 11392000,
   'volumefrom': 12.35,
   'volumeto': 140542615.96},
  {'time': 1561420800,
   'close': 11418500,
   'high': 11418500,
   'low': 11352500,
   'open': 11352500,
   'volumefrom': 9.145,
   'volumeto': 104144687.16},
  {'time': 1561424400,
   'close': 11433000,
   'high': 11505000,
   'low': 11383000,
   'open': 11418500,
   'volumefrom': 16.4,
   'volumeto': 188030372.79},
  {'time': 1561428000,
   'close': 11491500,
   'high': 11514500,
   'low': 11432500,
   'open': 11433000,
   'volumefrom': 7.735,
   'volumeto': 88807338.18},
  {'time': 1561431600,
   'close': 11510000,
   'high': 11515000,
   'low': 11491500,
   'open': 11491500,
   'volumefrom': 7.861,
   'volumeto': 90466102.99},
  {'time': 1561435200,
   'close': 11530500,
   'high': 11550000,
   'low': 11510000,
   'open': 11510000,
   'volumefrom': 16.64,
   'volumeto': 191804589.32},
  {'time': 1561438800,
   'close': 11589000,
   'high': 11609000,
   'low': 11530500,
   'open': 11530500,
   'volumefrom': 23.05,
   'volumeto': 266846877.91},
  {'time': 1561442400,
   'close': 11678000,
   'high': 11680000,
   'low': 11589000,
   'open': 11589000,
   'volumefrom': 17.35,
   'volumeto': 202049238.68},
  {'time': 1561446000,
   'close': 11700000,
   'high': 11700000,
   'low': 11636500,
   'open': 11678000,
   'volumefrom': 20.83,
   'volumeto': 243219137.75},
  {'time': 1561449600,
   'close': 11647000,
   'high': 11700000,
   'low': 11646000,
   'open': 11700000,
   'volumefrom': 14.38,
   'volumeto': 167899782.28},
  {'time': 1561453200,
   'close': 11685500,
   'high': 11700000,
   'low': 11646000,
   'open': 11647000,
   'volumefrom': 12.43,
   'volumeto': 145219690.1},
  {'time': 1561456800,
   'close': 11796000,
   'high': 11805000,
   'low': 11666000,
   'open': 11685500,
   'volumefrom': 11.91,
   'volumeto': 139930514.78},
  {'time': 1561460400,
   'close': 11809000,
   'high': 11809000,
   'low': 11745500,
   'open': 11796000,
   'volumefrom': 9.288,
   'volumeto': 109377132.9},
  {'time': 1561464000,
   'close': 11782000,
   'high': 11829000,
   'low': 11694000,
   'open': 11809000,
   'volumefrom': 12.98,
   'volumeto': 152837509.71}],
 'TimeTo': 1561464000,
 'TimeFrom': 1561377600,
 'FirstValueInArray': True,
 'ConversionType': {'type': 'force_direct', 'conversionSymbol': ''},
 'RateLimit': {},
 'HasWarning': False}

In [44]:
prices = pd.DataFrame(resp['Data'])
prices

,close,high,low,open,time,volumefrom,volumeto
0,12771000,12844000,12730000,12802000,1561377600,197.29,2.522117e+09
1,12695000,12780000,12650000,12771000,1561381200,219.57,2.790465e+09
2,12794000,12815000,12691000,12695000,1561384800,234.33,2.991404e+09
3,12800000,12830000,12740000,12794000,1561388400,138.42,1.770103e+09
4,12890000,12979000,12795000,12800000,1561392000,285.02,3.677072e+09
5,12914000,12937000,12840000,12890000,1561395600,144.51,1.864152e+09
6,12865000,12980000,12857000,12914000,1561399200,107.57,1.389125e+09
7,12815000,12894000,12730000,12865000,1561402800,155.14,1.985992e+09
8,12800000,12882000,12742000,12815000,1561406400,116.10,1.488245e+09
9,12848000,12860000,12788000,12800000,1561410000,124.64,1.598914e+09
10,12902000,12957000,12841000,12848000,1561413600,224.32,2.895129e+09
11,12891000,12928000,12845000,12902000,1561417200,205.43,2.647951e+09
12,12910000,12971000,12854000,12891000,1561420800,246.93,3.187708e+09
13,12996000,12997000,12893000,12910000,1561424400,239.26,3.099654e+09
14,13004000,13085000,12948000,12996000,1561428000,373.66,4.865882e+09
15,13026000,13041000,12977000,13004000,1561431600,259.05,3.370075e+09
16,13131000,13146000,13025000,13026000,1561435200,339.92,4.447649e+09
17,13256000,13309000,13131000,13131000,1561438800,302.27,3.995989e+09
18,13274000,13370000,13245000,13256000,1561442400,239.21,3.185791e+09
19,13347000,13383000,13274000,13274000,1561446000,303.42,4.047822e+09
20,13275000,13371000,13227000,13347000,1561449600,338.15,4.499964e+09
21,13333000,13350000,13265000,13275000,1561453200,310.38,4.130798e+09
22,13459000,13491000,13306000,13333000,1561456800,233.30,3.126292e+09
23,13460000,13498000,13371000,13459000,1561460400,224.56,3.018619e+09
24,13320000,13463000,13320000,13460000,1561464000,49.41,6.635102e+08

In [50]:
prices['time'] = pd.to_datetime(prices['time'], unit='s') + pd.Timedelta(9, unit='h'); prices

,close,high,low,open,time,volumefrom,volumeto
0,12771000,12844000,12730000,12802000,2019-06-24 21:00:00,197.29,2.522117e+09
1,12695000,12780000,12650000,12771000,2019-06-24 22:00:00,219.57,2.790465e+09
2,12794000,12815000,12691000,12695000,2019-06-24 23:00:00,234.33,2.991404e+09
3,12800000,12830000,12740000,12794000,2019-06-25 00:00:00,138.42,1.770103e+09
4,12890000,12979000,12795000,12800000,2019-06-25 01:00:00,285.02,3.677072e+09
5,12914000,12937000,12840000,12890000,2019-06-25 02:00:00,144.51,1.864152e+09
6,12865000,12980000,12857000,12914000,2019-06-25 03:00:00,107.57,1.389125e+09
7,12815000,12894000,12730000,12865000,2019-06-25 04:00:00,155.14,1.985992e+09
8,12800000,12882000,12742000,12815000,2019-06-25 05:00:00,116.10,1.488245e+09
9,12848000,12860000,12788000,12800000,2019-06-25 06:00:00,124.64,1.598914e+09
10,12902000,12957000,12841000,12848000,2019-06-25 07:00:00,224.32,2.895129e+09
11,12891000,12928000,12845000,12902000,2019-06-25 08:00:00,205.43,2.647951e+09
12,12910000,12971000,12854000,12891000,2019-06-25 09:00:00,246.93,3.187708e+09
13,12996000,12997000,12893000,12910000,2019-06-25 10:00:00,239.26,3.099654e+09
14,13004000,13085000,12948000,12996000,2019-06-25 11:00:00,373.66,4.865882e+09
15,13026000,13041000,12977000,13004000,2019-06-25 12:00:00,259.05,3.370075e+09
16,13131000,13146000,13025000,13026000,2019-06-25 13:00:00,339.92,4.447649e+09
17,13256000,13309000,13131000,13131000,2019-06-25 14:00:00,302.27,3.995989e+09
18,13274000,13370000,13245000,13256000,2019-06-25 15:00:00,239.21,3.185791e+09
19,13347000,13383000,13274000,13274000,2019-06-25 16:00:00,303.42,4.047822e+09
20,13275000,13371000,13227000,13347000,2019-06-25 17:00:00,338.15,4.499964e+09
21,13333000,13350000,13265000,13275000,2019-06-25 18:00:00,310.38,4.130798e+09
22,13459000,13491000,13306000,13333000,2019-06-25 19:00:00,233.30,3.126292e+09
23,13460000,13498000,13371000,13459000,2019-06-25 20:00:00,224.56,3.018619e+09
24,13320000,13463000,13320000,13460000,2019-06-25 21:00:00,49.41,6.635102e+08

In [29]:
prices['time'][1]

Timestamp('2019-06-23 00:00:00')

In [39]:
6815.84*12843640

87540195257.6

In [34]:
delta

86400

In [49]:
pd.Timedelta(9, unit='h')

Timedelta('0 days 09:00:00')