In [34]:
import requests
import pandas as pd
from IPython.core.debugger import set_trace

In [4]:
class NotProperResponseError(Exception):
    pass

class NotProperInputError(Exception):
    pass

class SomethingWrongError(Exception):
    pass

In [93]:
def request_hist_hour(nbars=None, utc_to=None, coin=None, base_ccy=None, ex=None):
    if (nbars is None) or (utc_to is None) or (coin is None) or (base_ccy is None) or (ex is None):
        raise NotProperInputError()
    
    utc_to = int(pd.Timestamp(utc_to).timestamp())
    baseurl = ('https://min-api.cryptocompare.com/data/histohour?'
               'fsym={fsym}'
               '&tsym={tsym}'
               '&e={e}'
               '&limit={limit}'
               '&toTs={toTs}')
    
    url = baseurl.format(fsym=coin, tsym=base_ccy, e=ex, limit=nbars, toTs=utc_to)
    resp = requests.get(url).json()
    msg = resp['Response']
    
    if msg == 'Success':
        truncated = True
        utc_from = None
        
        data = {str(pd.to_datetime(_r.pop('time'), unit='s')):_r for _r in resp['Data'] if _r['close'] != 0}
        
        if len(data) > 0:
            n_del = max(0, len(data) - nbars)
            keys = sorted(data)
            keys_del = keys[:n_del]
            [data.pop(k) for k in keys_del]
        
            if len(data) == nbars:
                truncated = False
                utc_from = keys[n_del]            
        
        return {
            'data': data, 
            'truncated': truncated, 
            'utc_from': utc_from, 
        }
    
    elif msg == 'Error':
        raise NotProperResponseError()
        
    else:
        raise SomethingWrongError()

In [94]:
req = request_hist_hour(nbars=2, utc_to='2018-12-26 08:30', coin='BTC', base_ccy='KRW', ex='bithumb'); req

{'data': {'2018-12-26 07:00:00': {'close': 4235000,
   'high': 4269000,
   'low': 4224000,
   'open': 4269000,
   'volumefrom': 331.31,
   'volumeto': 1405821265.57},
  '2018-12-26 08:00:00': {'close': 4215000,
   'high': 4236000,
   'low': 4192000,
   'open': 4235000,
   'volumefrom': 220.47,
   'volumeto': 929009844.99}},
 'truncated': False,
 'utc_from': '2018-12-26 07:00:00'}

In [95]:
def request_hist_hour_range(utc_from=None, utc_to=None, coin=None, base_ccy=None, ex=None):
    data = {}
    
    if utc_from is None:
        utc_from = pd.Timestamp('2000-01-01')
    else:
        utc_from = pd.Timestamp(utc_from).floor('h')
        
    if utc_to is None:
        utc_to = pd.Timestamp.utcnow().floor('h') + pd.Timedelta(-1, unit='h')
    else:
        utc_to = pd.Timestamp(utc_to).floor('h')
    
    while True:
        nbars = int((utc_to.timestamp() - utc_from.timestamp()) / 3600) + 1
        nbars = min(2000, nbars)
        req = request_hist_hour(nbars=nbars, utc_to=utc_to, coin=coin, base_ccy=base_ccy, ex=ex)
        data.update(req['data'])
        
        if req['truncated'] or (nbars < 2000): 
            break
        else:
            utc_to = pd.Timestamp(req['utc_from']) + pd.Timedelta(-1, unit='s')
            
    return data

In [104]:
# rs = request_hist_hour_range(utc_from='2019-01-26 00:00:00', utc_to='2019-06-26 03:00:00', coin='BTC', base_ccy='KRW', ex='upbit'
rs = request_hist_hour_range(coin='EOS', base_ccy='KRW', ex='upbit')

In [116]:
pd.DataFrame(rs).T.sort_index()#.iloc[5400:]

,close,high,low,open,volumefrom,volumeto
2018-04-27 22:00:00,18500.0,18910.0,18480.0,18760.0,148731.64,2.787138e+09
2018-04-27 23:00:00,18240.0,18750.0,18040.0,18500.0,224073.20,4.129044e+09
2018-04-28 00:00:00,19080.0,19190.0,18070.0,18240.0,285270.40,5.345520e+09
2018-04-28 01:00:00,19360.0,19420.0,19000.0,19080.0,305055.82,5.866705e+09
2018-04-28 02:00:00,18910.0,19360.0,18810.0,19360.0,204507.56,3.908616e+09
2018-04-28 03:00:00,19160.0,19230.0,18890.0,18910.0,250289.14,4.781831e+09
2018-04-28 04:00:00,19080.0,19170.0,19020.0,19160.0,205492.25,3.924290e+09
2018-04-28 05:00:00,19310.0,19310.0,19040.0,19080.0,152013.86,2.909048e+09
2018-04-28 06:00:00,19960.0,20200.0,19220.0,19310.0,345089.21,6.814108e+09
2018-04-28 07:00:00,19990.0,20160.0,19770.0,19960.0,310163.38,6.192218e+09
2018-04-28 08:00:00,19910.0,20280.0,19730.0,19990.0,283486.26,5.662191e+09
2018-04-28 09:00:00,20280.0,20280.0,19810.0,19910.0,329951.77,6.594347e+09
2018-04-28 10:00:00,20260.0,20490.0,20130.0,20280.0,258033.18,5.230970e+09
2018-04-28 11:00:00,20030.0,20270.0,19950.0,20260.0,235526.85,4.741245e+09
2018-04-28 12:00:00,20450.0,20540.0,19950.0,20030.0,274868.65,5.560416e+09
2018-04-28 13:00:00,20760.0,20900.0,20390.0,20450.0,285727.23,5.900545e+09
2018-04-28 14:00:00,20540.0,20950.0,20330.0,20760.0,251816.68,5.224003e+09
2018-04-28 15:00:00,20520.0,20550.0,20030.0,20540.0,257538.15,5.239428e+09
2018-04-28 16:00:00,20080.0,20650.0,20080.0,20520.0,252893.54,5.151304e+09
2018-04-28 17:00:00,20310.0,20460.0,20060.0,20080.0,186182.78,3.765991e+09
2018-04-28 18:00:00,20420.0,20470.0,20310.0,20310.0,80935.47,1.651620e+09
2018-04-28 19:00:00,20510.0,20510.0,20260.0,20420.0,65254.89,1.330284e+09
2018-04-28 20:00:00,20590.0,20800.0,20470.0,20510.0,111588.62,2.304233e+09
2018-04-28 21:00:00,20340.0,20600.0,20240.0,20590.0,148598.90,3.028237e+09
2018-04-28 22:00:00,20400.0,20550.0,20320.0,20340.0,117199.20,2.394272e+09
2018-04-28 23:00:00,20190.0,20450.0,20150.0,20400.0,167979.38,3.408617e+09
2018-04-29 00:00:00,20540.0,20810.0,20170.0,20190.0,248617.62,5.110919e+09
2018-04-29 01:00:00,21260.0,21420.0,20480.0,20540.0,259164.30,5.410275e+09
2018-04-29 02:00:00,22490.0,22490.0,21260.0,21260.0,283609.64,6.162237e+09
2018-04-29 03:00:00,22920.0,23420.0,22390.0,22490.0,272227.95,6.239817e+09
...,...,...,...,...,...,...
2019-06-25 06:00:00,8480.0,8520.0,8460.0,8480.0,173079.78,1.470023e+09
2019-06-25 07:00:00,8485.0,8495.0,8465.0,8480.0,82098.50,6.962891e+08
2019-06-25 08:00:00,8415.0,8495.0,8380.0,8485.0,100415.80,8.475149e+08
2019-06-25 09:00:00,8425.0,8445.0,8415.0,8415.0,70956.25,5.980653e+08
2019-06-25 10:00:00,8455.0,8485.0,8425.0,8425.0,80037.59,6.762539e+08
2019-06-25 11:00:00,8435.0,8475.0,8400.0,8455.0,106451.49,8.981338e+08
2019-06-25 12:00:00,8300.0,8440.0,8265.0,8435.0,158216.05,1.317329e+09
2019-06-25 13:00:00,8355.0,8360.0,8270.0,8300.0,101222.07,8.408611e+08
2019-06-25 14:00:00,8340.0,8390.0,8330.0,8355.0,65439.16,5.468961e+08
2019-06-25 15:00:00,8355.0,8360.0,8310.0,8340.0,42058.78,3.507678e+08
2019-06-25 16:00:00,8280.0,8365.0,8270.0,8355.0,74058.73,6.158338e+08
2019-06-25 17:00:00,8260.0,8315.0,8255.0,8280.0,76574.99,6.332927e+08
2019-06-25 18:00:00,8310.0,8325.0,8260.0,8260.0,41335.93,3.425558e+08
2019-06-25 19:00:00,8285.0,8310.0,8275.0,8310.0,36001.89,2.985248e+08
2019-06-25 20:00:00,8300.0,8315.0,8280.0,8285.0,30375.58,2.520430e+08
2019-06-25 21:00:00,8375.0,8390.0,8295.0,8300.0,65343.95,5.458226e+08
2019-06-25 22:00:00,8520.0,8545.0,8365.0,8375.0,246942.39,2.084101e+09
2019-06-25 23:00:00,8480.0,8535.0,8460.0,8520.0,223878.12,1.901087e+09
2019-06-26 00:00:00,8585.0,8660.0,8410.0,8480.0,296435.75,2.525013e+09
2019-06-26 01:00:00,8595.0,8610.0,8510.0,8585.0,213976.48,1.833929e+09
2019-06-26 02:00:00,8555.0,8600.0,8470.0,8595.0,178152.44,1.519014e+09
2019-06-26 03:00:00,8720.0,8730.0,8550.0,8555.0,319440.98,2.768500e+09
2019-06-26 04:00:00,8700.0,8725.0,8635.0,8720.0,287268.74,2.496154e+09
2019-06-26 05:00:00,8555.0,8710.0,8515.0,8700.0,318707.31,2.748392e+09
2019-06-26 06:00:00,8640.0,8695.0,8555.0,8555.0,169370.02,1.462357e+09
2019-06-26 07:00:00,8560.0,8645.0,8560.0,8640.0,144922.95,1.244330e+09
2019-06-26 08:00:00,8580.0,8600.0,8480.0,8560.0,174656.67,1.492695e+09
2019-06-26 09:00:00,8590.0,8745.0,8530.0,8580.0,259404.81,2.245944e+09
2019-06-26 10:00:00,8665.0,8690.0,8570.0,8590.0,125997.35,1.088922e+09
2019-06-26 11:00:00,8730.0,8735.0,8640.0,8665.0,115269.80,1.001288e+09

In [96]:
# url = 'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=1'
# url = 'https://api.coingecko.com/api/v3/exchanges/bithumb'
url = 'https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=KRW&limit=1&e=upbit'
resp = requests.get(url).json(); resp

{'Response': 'Success',
 'Type': 100,
 'Aggregated': False,
 'Data': [{'time': 1561525200,
   'close': 14951000,
   'high': 15592000,
   'low': 14930000,
   'open': 14939000,
   'volumefrom': 494.6,
   'volumeto': 7513933948.41},
  {'time': 1561528800,
   'close': 15119000,
   'high': 15153000,
   'low': 14951000,
   'open': 14951000,
   'volumefrom': 192.89,
   'volumeto': 2904418221.13}],
 'TimeTo': 1561528800,
 'TimeFrom': 1561525200,
 'FirstValueInArray': True,
 'ConversionType': {'type': 'force_direct', 'conversionSymbol': ''},
 'RateLimit': {},
 'HasWarning': False}

In [75]:
prices = pd.DataFrame(resp['Data'])
prices

,close,high,low,open,time,volumefrom,volumeto
0,14286000,14410000,14178000,14304000,1561510800,367.01,5.249753e+09
1,14300000,14307000,14043000,14286000,1561514400,428.64,6.082490e+09
2,14697000,14699000,14279000,14300000,1561518000,423.25,6.105994e+09
3,14842000,14842000,14571000,14697000,1561521600,321.21,4.710727e+09