In [1]:
import requests
import pandas as pd
from IPython.core.debugger import set_trace

In [28]:
class NotProperResponseError(Exception):
    pass

class NotProperInputError(Exception):
    pass

class SomethingWrongError(Exception):
    pass


def _int(num_s):
    try:
        return int(num_s)
    except ValueError:
        return int(float(num_s))

In [67]:
def request_hist_hour(nbars=None, utc_to=None, coin=None, base_ccy=None, ex=None):    
    # 참고: 종료시점(utc_to)이 반드시 시간(h)으로 나누어 떨어질 필요는 없다
    
    # 모든 파라미터가 제공되어야 한다
    if (nbars is None) or (utc_to is None) or (coin is None) or (base_ccy is None) or (ex is None):
        raise NotProperInputError()
    
    # 종료시점(utc_to)이 utc timestamp(integer/float 또는 숫자로 된 문자열)로 주어진 경우
    if str(utc_to).isdigit():
        utc_to = _int(utc_to)
        
    # 시간 문자열(ex. 2019-06-12 05:00:45)로 주어진 경우
    else:
        utc_to = int(pd.Timestamp(utc_to).timestamp())
        
        
    baseurl = ('https://min-api.cryptocompare.com/data/histohour?'
               'fsym={fsym}'
               '&tsym={tsym}'
               '&e={e}'
               '&limit={limit}'
               '&toTs={toTs}')
    
    url = baseurl.format(fsym=coin, tsym=base_ccy, e=ex, limit=nbars, toTs=utc_to)
    resp = requests.get(url).json()
    msg = resp['Response']
    
    if msg == 'Success':
        truncated = True
        utc_from = None
        
        data = {str(pd.to_datetime(_r.pop('time'), unit='s')):_r for _r in resp['Data'] if _r['close'] != 0}
        
        if len(data) > 0:
            n_del = max(0, len(data) - nbars)
            keys = sorted(data)
            keys_del = keys[:n_del]
            [data.pop(k) for k in keys_del]
        
            utc_from = keys[n_del]
        
            if len(data) == nbars:
                truncated = False
                
        
        return {
            'data': data, 
            'truncated': truncated, 
            'utc_from': utc_from, 
        }
    
    elif msg == 'Error':
        raise NotProperResponseError()
        
    else:
        raise SomethingWrongError()

In [30]:
req = request_hist_hour(nbars=3, utc_to='2018-12-26 08:30', coin='EOS', base_ccy='KRW', ex='bithumb'); req

{'data': {'2018-12-26 06:00:00': {'close': 2890,
   'high': 2926,
   'low': 2875,
   'open': 2915,
   'volumefrom': 163020.31,
   'volumeto': 473246392.31},
  '2018-12-26 07:00:00': {'close': 2874,
   'high': 2899,
   'low': 2839,
   'open': 2890,
   'volumefrom': 290628.29,
   'volumeto': 831545786.19},
  '2018-12-26 08:00:00': {'close': 2850,
   'high': 2881,
   'low': 2811,
   'open': 2874,
   'volumefrom': 209549.29,
   'volumeto': 595417744.44}},
 'truncated': False,
 'utc_from': '2018-12-26 06:00:00'}

In [68]:
def request_hist_hour_range(utc_from=None, utc_to=None, coin=None, base_ccy=None, ex=None):
    # 시작시점(utc_from)이나 종료시점(utc_to)이 주어지지 않았다면, 
    # 해당 코인 가격정보를 가장 최근 시점까지 가져온다
    # 참고: 입력 파라미터에서의 시작시점(utc_from)와 종료시점(utc_to)이 반드시 시간(h)으로 나누어 떨어질 필요는 없다
    
    data = {}
    
    if utc_from is None:
        utc_from = pd.Timestamp('2000-01-01')
    else:
        utc_from = pd.Timestamp(utc_from).floor('h')
        
    if utc_to is None:
        utc_to = pd.Timestamp.utcnow().floor('h') + pd.Timedelta(-1, unit='h')
    else:
        utc_to = pd.Timestamp(utc_to).floor('h')
    
    
    # nbar 구하기: 시작시점(_from)을 포함해야 하기에 +1
    _nbars_h = lambda _from, _to: int((_to.timestamp() - _from.timestamp()) / 3600) + 1        
        
    while True:
        nbars = _nbars_h(utc_from, utc_to)
        nbars = min(2000, nbars)
        req = request_hist_hour(nbars=nbars, utc_to=utc_to, coin=coin, base_ccy=base_ccy, ex=ex)
        data.update(req['data'])
        
        print(req['utc_from'] + ' - ' + str(utc_to))
        
        if req['truncated'] or (nbars < 2000): 
            print('completed')
            break
        
        # 루프를 계속 돌려야된다면, 전 response의 (시작시점-1초)를 다음 루프의 종료시점으로 둔다
        else:
            utc_to = pd.Timestamp(req['utc_from']) + pd.Timedelta(-1, unit='s')
            
            
    return data

In [69]:
rs = request_hist_hour_range(coin='BTC', base_ccy='KRW', ex='upbit')

2019-04-05 00:00:00 - 2019-06-27 07:00:00+00:00
2019-01-11 16:00:00 - 2019-04-04 23:59:59
2018-10-20 08:00:00 - 2019-01-11 15:59:59
2018-07-29 00:00:00 - 2018-10-20 07:59:59
2018-05-06 16:00:00 - 2018-07-28 23:59:59
2018-04-27 22:00:00 - 2018-05-06 15:59:59
completed

In [53]:
pd.DataFrame(rs).T.sort_index()

,close,high,low,open,volumefrom,volumeto
2018-04-27 22:00:00,9929000.0,9989000.0,9928000.0,9955000.0,150.61,1.500340e+09
2018-04-27 23:00:00,9831000.0,9961000.0,9778000.0,9929000.0,256.25,2.533206e+09
2018-04-28 00:00:00,9887000.0,9961000.0,9752000.0,9831000.0,384.32,3.797137e+09
2018-04-28 01:00:00,9984000.0,9987000.0,9877000.0,9887000.0,373.28,3.710482e+09
2018-04-28 02:00:00,9929000.0,9987000.0,9928000.0,9984000.0,297.95,2.969332e+09
2018-04-28 03:00:00,9985000.0,10000000.0,9922000.0,9929000.0,280.62,2.795841e+09
2018-04-28 04:00:00,9995000.0,10016000.0,9969000.0,9985000.0,440.40,4.401185e+09
2018-04-28 05:00:00,9982000.0,10007000.0,9972000.0,9995000.0,300.46,3.000933e+09
2018-04-28 06:00:00,9939000.0,9990000.0,9926000.0,9982000.0,416.14,4.147045e+09
2018-04-28 07:00:00,9920000.0,9957000.0,9900000.0,9939000.0,353.12,3.505581e+09
2018-04-28 08:00:00,9964000.0,10096000.0,9870000.0,9920000.0,421.74,4.212635e+09
2018-04-28 09:00:00,10011000.0,10052000.0,9950000.0,9964000.0,458.73,4.590083e+09
2018-04-28 10:00:00,10009000.0,10051000.0,9980000.0,10011000.0,404.90,4.056393e+09
2018-04-28 11:00:00,9978000.0,10031000.0,9965000.0,10009000.0,322.82,3.224488e+09
2018-04-28 12:00:00,10066000.0,10097000.0,9978000.0,9978000.0,401.76,4.033361e+09
2018-04-28 13:00:00,10095000.0,10105000.0,10035000.0,10066000.0,393.78,3.965031e+09
2018-04-28 14:00:00,10045000.0,10118000.0,10015000.0,10095000.0,411.15,4.144940e+09
2018-04-28 15:00:00,10055000.0,10056000.0,9988000.0,10045000.0,340.62,3.415909e+09
2018-04-28 16:00:00,10053000.0,10100000.0,9990000.0,10055000.0,394.70,3.967858e+09
2018-04-28 17:00:00,10037000.0,10098000.0,10035000.0,10053000.0,285.21,2.871668e+09
2018-04-28 18:00:00,10086000.0,10100000.0,10035000.0,10037000.0,158.84,1.601756e+09
2018-04-28 19:00:00,10087000.0,10107000.0,10070000.0,10086000.0,152.11,1.535034e+09
2018-04-28 20:00:00,10053000.0,10112000.0,10053000.0,10087000.0,145.22,1.465446e+09
2018-04-28 21:00:00,10037000.0,10088000.0,10010000.0,10053000.0,218.48,2.194959e+09
2018-04-28 22:00:00,10060000.0,10073000.0,10029000.0,10037000.0,190.85,1.918726e+09
2018-04-28 23:00:00,10038000.0,10076000.0,10024000.0,10060000.0,259.67,2.610804e+09
2018-04-29 00:00:00,10134000.0,10189000.0,10033000.0,10038000.0,380.79,3.855986e+09
2018-04-29 01:00:00,10158000.0,10219000.0,10118000.0,10134000.0,387.46,3.935589e+09
2018-04-29 02:00:00,10221000.0,10252000.0,10158000.0,10158000.0,362.97,3.705813e+09
2018-04-29 03:00:00,10190000.0,10248000.0,10165000.0,10221000.0,318.16,3.245224e+09
...,...,...,...,...,...,...
2019-06-26 02:00:00,14300000.0,14307000.0,14043000.0,14286000.0,428.64,6.082490e+09
2019-06-26 03:00:00,14697000.0,14699000.0,14279000.0,14300000.0,423.25,6.105994e+09
2019-06-26 04:00:00,14939000.0,14970000.0,14571000.0,14697000.0,450.98,6.639470e+09
2019-06-26 05:00:00,14951000.0,15592000.0,14930000.0,14939000.0,494.60,7.513934e+09
2019-06-26 06:00:00,15316000.0,15390000.0,14951000.0,14951000.0,369.08,5.590173e+09
2019-06-26 07:00:00,14983000.0,15322000.0,14983000.0,15316000.0,328.97,4.977177e+09
2019-06-26 08:00:00,15060000.0,15158000.0,14853000.0,14983000.0,314.92,4.726357e+09
2019-06-26 09:00:00,14673000.0,15060000.0,14650000.0,15060000.0,317.04,4.724067e+09
2019-06-26 10:00:00,15122000.0,15175000.0,14645000.0,14673000.0,287.97,4.289193e+09
2019-06-26 11:00:00,15038000.0,15170000.0,14958000.0,15122000.0,265.52,3.995665e+09
2019-06-26 12:00:00,15302000.0,15318000.0,14950000.0,15038000.0,291.92,4.394017e+09
2019-06-26 13:00:00,15360000.0,15388000.0,15157000.0,15302000.0,348.10,5.321050e+09
2019-06-26 14:00:00,15238000.0,15400000.0,15204000.0,15360000.0,300.43,4.607766e+09
2019-06-26 15:00:00,15267000.0,15376000.0,15171000.0,15238000.0,300.76,4.594819e+09
2019-06-26 16:00:00,16237000.0,16244000.0,15233000.0,15267000.0,353.48,5.539962e+09
2019-06-26 17:00:00,16132000.0,16237000.0,15825000.0,16237000.0,380.44,6.101865e+09
2019-06-26 18:00:00,16640000.0,16718000.0,16044000.0,16132000.0,382.69,6.267842e+09
2019-06-26 19:00:00,16828000.0,16830000.0,16348000.0,16640000.0,355.99,5.925688e+09
2019-06-26 20:00:00,15652000.0,16834000.0,15020000.0,16828000.0,329.55,5.307974e+09
2019-06-26 21:00:00,15361000.0,15652000.0,14548000.0,15652000.0,318.44,4.834741e+09
2019-06-26 22:00:00,15309000.0,15547000.0,14999000.0,15361000.0,221.04,3.382986e+09
2019-06-26 23:00:00,15863000.0,16053000.0,15309000.0,15309000.0,335.56,5.285368e+09
2019-06-27 00:00:00,15939000.0,16427000.0,15661000.0,15863000.0,297.45,4.811133e+09
2019-06-27 01:00:00,15542000.0,16181000.0,15104000.0,15939000.0,287.41,4.504089e+09
2019-06-27 02:00:00,15553000.0,15675000.0,15150000.0,15542000.0,222.29,3.434511e+09
2019-06-27 03:00:00,15677000.0,15726000.0,15334000.0,15553000.0,187.12,2.902817e+09
2019-06-27 04:00:00,15698000.0,15930000.0,15655000.0,15677000.0,282.77,4.466360e+09
2019-06-27 05:00:00,15647000.0,15698000.0,15416000.0,15698000.0,227.85,3.545328e+09
2019-06-27 06:00:00,15256000.0,15648000.0,15070000.0,15647000.0,218.93,3.361259e+09
2019-06-27 07:00:00,15179000.0,15416000.0,15098000.0,15256000.0,297.68,4.539268e+09

In [96]:
# url = 'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=1'
# url = 'https://api.coingecko.com/api/v3/exchanges/bithumb'
url = 'https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=KRW&limit=1&e=upbit'
resp = requests.get(url).json(); resp

{'Response': 'Success',
 'Type': 100,
 'Aggregated': False,
 'Data': [{'time': 1561525200,
   'close': 14951000,
   'high': 15592000,
   'low': 14930000,
   'open': 14939000,
   'volumefrom': 494.6,
   'volumeto': 7513933948.41},
  {'time': 1561528800,
   'close': 15119000,
   'high': 15153000,
   'low': 14951000,
   'open': 14951000,
   'volumefrom': 192.89,
   'volumeto': 2904418221.13}],
 'TimeTo': 1561528800,
 'TimeFrom': 1561525200,
 'FirstValueInArray': True,
 'ConversionType': {'type': 'force_direct', 'conversionSymbol': ''},
 'RateLimit': {},
 'HasWarning': False}

In [75]:
prices = pd.DataFrame(resp['Data'])
prices

,close,high,low,open,time,volumefrom,volumeto
0,14286000,14410000,14178000,14304000,1561510800,367.01,5.249753e+09
1,14300000,14307000,14043000,14286000,1561514400,428.64,6.082490e+09
2,14697000,14699000,14279000,14300000,1561518000,423.25,6.105994e+09
3,14842000,14842000,14571000,14697000,1561521600,321.21,4.710727e+09

In [7]:
pd.Timestamp('2019-06-01 01:00:00')

Timestamp('2019-06-01 01:00:00')

In [11]:
pd.to_datetime('1561510800.05', unit='s')

Timestamp('2019-06-26 01:00:00.049999952')